.venv
.vscode
__pycache__
runs
*.tfevents.*

# TeX
_minted-report
*.aux
*.dvi
*.fdb*
*.fls
*.log
*.out
*.synctex.gz
*.toc

# JupyterNotebooks
.ipynb_checkpoints  
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
.datamaestro/

datasets
MNIST
Fashion-MNIST/FashionMNIST/raw/
15SceneData/
15ScenesData.zip
imagenet_classes.pkl
wandb
texliveonfly.py
*.npz
XAI/TME/TME8/data/
AMAL/TME/TME8/src/test-1000.pth
*.pth
*.model
*.vocab
