asttokens
backcall
black
click
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
Pygments
pylance
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
wcwidth
widgetsnbextension
