conllu
datamaestro-image
datamaestro-ml
datamaestro-text
dice-ml
hydra-core
icecream
imblearn
ipykernel
ipywidgets
git+https://github.com/allenai/ir_datasets.git
kaggle
mlflow
opencv-python
pip-chill # for creating clean requirement.txt
pynput
pyqt6-webengine
pyside6
pytorch-ignite
pytorch-lightning
ruff # better linter/formater
scikit-fda
seaborn
torch-tb-profiler
torchaudio
torchvision
wandb
